* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("pattern-background-desktop.svg");
  
  background-repeat: no-repeat;
}

#entire-card {
  border: 1px solid red;
  height: 65vh;
  width: 22vw;
  border-radius: 15px;
}

img {
  width: 22vw;
}